.text {
  background-color: rgb(234, 238, 144);
  font-family: lato;
  margin-top: -10px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  display: flex;
}
.tool{
  background-color: rgb(243, 239, 239);
}
.example {
  flex: 1 1 auto;
}
.tab {
  font-size: 20px;
  font-family: lato;
  font-weight: 600;
}
.box {
  margin-left: 20px;

}
.menu-icon {
  background-color:rgb(240, 233, 233);
  color: black;
  border: none;
  font-size: 40px;
  cursor: pointer;
}
.favorite-icon{
  background-color:rgb(238, 230, 230);
  color: black;
  border: none;
  font-size: 40px;
  cursor: pointer;

}
.share-icon{
  background-color:rgb(243, 237, 237);
  color: black;
  border: none;
  font-size: 40px;
  cursor: pointer;
}
.search-icon{
  background-color:rgb(243, 237, 237);
  color: black;
  border: none;
  font-size: 40px;
  cursor: pointer;
}
.product-tab{
  background-color:rgb(240, 232, 232);
  border:3px;
  font-size: larger;
  font-family :lato;
  margin-right: 20px;
  cursor: pointer;
  padding: 13px;
  
}